body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
.counter {
    font-size: 30px;
    margin: 20px;
}
button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
}